* {
    font-family: Helvetica, Arial, sans-serif;
  }
 
  a {
    text-decoration: none;
  }
  
/* HEADER */

header {
    min-height: 64px;
    position: relative;
    z-index: 100;
    min-width: 100%;
    display: inline-block;
}

  
.header_content_dsktp {
    display: flex;    
    min-height: 64px;
    min-width: 95%;
    padding: 0 24px;
}


.logo {
    min-width: 50%;
    min-height: 32px;
    max-height: 64px;
    display: inline-flex;
    align-content: center;
    color: darkslategrey;
}

.logo p {
    align-content: center;
    min-height: 100%;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
}

.logo span {
    color: gray;
    font-weight: lighter;
}

.menu {
    min-width: 50%;
    text-align: right;
    align-content: center;
}

.menu a {
    padding-left: 16px;
    font-size: 20px;
    color: dimgray;
}





/* LEARN SOMETHING NEW EVERY DAY */

#learn_sctn {
    display: flex;
    background-color: lightgrey;
    margin-top: 1;
}

.learn_bkgrnd {
    display: flex;
    width: 100%;
    padding: 32px 24px;
}

.banner_img {
    width: 60%;
    padding-right: 12px;
}

.banner_img img {
    display: flex;
    width: 100%;
    margin-right: 24px;
}

.learn {
    display: flex;
    width: 25%;
    color: rgb(82, 82, 82);
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding-left: 12px;
}

.learn_vrbg h2 {
    font-weight: lighter;
}

.button {
    display: flex;
    color: white;
    opacity: 1;
    background-color: rgb(82, 82, 82);
    padding: 8px 0;
    justify-content: center;
}

.button a {
    color: white;
}



/* Practice and Informational */

#pracitce_sctn {
    display: inline-flex;
    width: 100%;
}

.practice_bkgrnd {
    width: 100%;
    display: flex;
    padding: 32px 24px;
}

.img_left {
    display: inline-flex;
    flex-direction: column;
    padding-right: 32px;
    width: 60%;
   
}

.img_left img {
    width: 100%;
    margin-right: 24px;
    display: flex;
    padding-bottom: 8px;
}


.practice_vrbg h2 {
    padding: 24px 0;
    margin: 0;
}


.info_grid {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    border-left: 1px solid lightgray;
}

.info_grid img {
    display: flex;
    height: auto;
    min-width: 35%;
}

.orientation {
    border-bottom: .5px solid lightgray;
    padding: 16px 16px;
    display: flex;
    transition: background-color 1.5s linear 0.15s;
}

.orientation:hover{
    background-color: rgb(221, 219, 219);
}

.orientation img {
    display: flex;
    width: 35%;
    height: auto;
}

.campus {
    border-top: .5px solid lightgray;
    border-bottom: .5px solid lightgray;
    padding: 16px 16px;
    display: flex;
    transition: background-color 1.5s linear 0.15s;
}

.campus:hover{
    background-color: rgb(221, 219, 219);
}


.campus img {
    width: 35%;
    height: auto;
}

.guest {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 16px 16px;
    display: flex;
    transition: background-color 1.5s linear 0.15s;
}

.guest:hover {
    background-color: rgb(221, 219, 219);
}

.guest img {
    width: 35%;
    height: auto;
}

.info_grid_vrb {
    flex-direction: column;
    display: flex;
    padding: 16px 16px;
}

.info_grid_vrb h4 {
    font-weight: lighter;
}


/* Start Learning */

#strt_lrn {
    background-color: lightgray;
    width: 100%;
}

.strt_lrn_bkgrnd {
    width: 100%;
    display: inline-block;
}

.strt_lrn_ttl {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 32px 0 16px 0;
    width: 100%;
}

.strt_lrn_ttl h1 {
    width: 100%;
}

.courses_grid {
    display: flex;
    padding: 16px 40px 32px 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sftwre_eng {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.sftwre_eng img {
    height: auto;
    width: 100%;
}

.sftwre_eng h3 {
    padding: 16px;
    margin: 0;
}

.sftwre_eng p {
    color: rgb(167, 165, 165);
    padding: 8px 16px;
    margin: 0;
}

.comp_art {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.comp_art img {
    height: auto;
    width: 100%;
}

.comp_art h3 {
    padding: 16px;
    margin: 0;
}

.comp_art p {
    color: rgb(167, 165, 165);
    padding: 8px 16px;
    margin: 0;
}

.design {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.design img {
    height: auto;
    width: 100%;
}

.design h3 {
    padding: 16px;
    margin: 0;
}

.design p {
    color: rgb(167, 165, 165);
    padding: 8px 16px;
    margin: 0;
}

.data {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.data img {
    height: auto;
    width: 100%;
}

.data h3 {
    padding: 16px;
    margin: 0;
}

.data p {
    color: rgb(167, 165, 165);
    padding: 8px 16px;
    margin: 0;
}

.business {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.business img {
    height: auto;
    width: 100%;
}

.business h3 {
    padding: 16px;
    margin: 0;
}

.business p {
    color: rgb(167, 165, 165);
    padding: 8px 16px;
    margin: 0;
}

.marketing {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.marketing img {
    height: auto;
    width: 100%;
}

.marketing h3 {
    padding: 16px;
    margin: 0;
}

.marketing p {
    color: rgb(167, 165, 165);
    padding: 8px 16px;
    margin: 0;
}

/* Thesis Exhibit */

.xbit_bkgrnd {
    display: flex;
    width: 100%;
}

.xbit_ttl {
    text-align: center;
    width: 100%;
    display: block;
}

.video {
    display: inline-flex;
    flex-direction: column;
    width: 60%;
}

.video video {
    width: 60%;
}

.xbit_grid {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.fisma {
    display: flex;
}

.fisma h3 p {
    display: flex;
    flex-direction: column;
}

.fisma img {
    width: 35%;
    height: auto;
}


