* {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
  }

body {margin:0;padding:0}


  
/* HEADER */

header {
    min-height: 64px;
    position: relative;
    z-index: 100;
    min-width: 100%;
    display: inline-block;
}

  
.header_content_dsktp {
    display: flex;    
    min-height: 64px;
    min-width: 95%;
    padding: 0 24px;
}


.logo {
    min-width: 50%;
    min-height: 32px;
    max-height: 64px;
    display: inline-flex;
    align-content: center;
    color: darkslategrey;
}

.logo p {
    align-content: center;
    min-height: 100%;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    margin: 0;
}

.logo span {
    color: gray;
    font-weight: lighter;
}

.menu {
    min-width: 50%;
    text-align: right;
    align-content: center;
}

.menu a {
    padding-left: 16px;
    font-size: 20px;
    color: dimgray;
}

.header_mobile {
    display: none;
}

@media only screen and (max-width:578px) {

    .header_content_dsktp {
        display: none;
        margin: 0;
        padding: 0;
    }

    .header_mobile {
        width: 100%;
        display: flex;
        height: 64px;
        position: relative;
        justify-content: space-around;
        align-items: center;

    }

    .header_mobile img {
        height: 60%;
    }

}



/* LEARN SOMETHING NEW EVERY DAY */

#learn_sctn {
    display: flex;
    background-color: lightgrey;
    margin-top: 1;
}

.learn_bkgrnd {
    display: flex;
    width: 100%;
    padding: 32px 24px;
}

.banner_img {
    width: 60%;
    padding-right: 12px;
}

.banner_img img {
    display: flex;
    width: 100%;
    margin-right: 24px;
}

.learn {
    display: flex;
    width: 25%;
    color: rgb(82, 82, 82);
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding-left: 12px;
}

.learn_vrbg h1 {
    font-size: 52px;
}

.learn_vrbg h2 {
    font-weight: lighter;
}

.button {
    display: flex;
    color: white;
    opacity: 1;
    background-color: rgb(82, 82, 82);
    padding: 8px 0;
    justify-content: center;
}

.button a {
    color: white;
}



@media only screen and (max-width:578px) {

    .learn_bkgrnd {
        display: inline-block;
        width: 100%;
        padding: 0;
    }

    .banner_img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .banner_img img {
        width: 100%;
        margin: 0;
    }

    .learn {
        width: 100%;
        justify-content: center;
    }

    .learn_vrbg {
        width: 100%;
    }

    .learn_vrbg h2 {
        font-size: 26px;
    }

    .button {
        background-color: rgb(131, 129, 129);
        width: 93%;
        margin-bottom: 32px;
        justify-content: center;
    }

}



/* Practice and Informational */




#pracitce_sctn {
    width: 100%;
}

.practice_bkgrnd {
    width: 100%;
    display: flex;
    padding: 32px 24px;
}

.img_left {
    display: inline-flex;
    flex-direction: column;
    padding-right: 32px;
    width: 60%;
   
}

.img_left img {
    width: 100%;
    margin-right: 24px;
    display: flex;
    padding-bottom: 8px;
}

.practice_vrbg {
    color: rgb(98, 98, 99);
}

.practice_vrbg h2 {
    padding: 24px 0;
    margin: 0;
    font-size: 72px;
    color: rgb(66, 66, 66);
}

.practice_vrbg p {
    font-size: 28px;
}

.info_grid {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    border-left: 1px solid lightgray;
}

.info_grid img {
    display: flex;
    height: auto;
    min-width: 35%;
}

.orientation, .campus, .guest {
    border-bottom: .5px solid lightgray;
    padding: 16px 16px;
    display: flex;
    transition: background-color .75s linear 0.15s;
}

.orientation:hover, .campus:hover, .guest:hover {
    background-color: rgb(221, 219, 219);
}

.orientation img, .campus img , .guest img {
    display: flex;
    width: 35%;
    height: auto;
}


.info_grid_vrb {
    flex-direction: column;
    display: flex;
    padding: 16px 16px;
}

.info_grid_vrb h4 {
    font-weight: lighter;
}


img.orien_mble, img.campus_mble, img.guest_mble, .guest_spcl {
    display: none;
}



@media only screen and (max-width:578px) {

    .practice_bkgrnd {
        padding: 0;
    }


    .info_grid {
        width: 100%;
    }

    .info_grid {
        border-left: 0;
    }

    .orientation, .campus, .guest   {
        flex-direction: column;
        border: 0;
        border-bottom: 0;
        padding: 16px;
    }

    .img_left, .orientation img, .campus img, .guest img, .guest_dsktp {
        display: none;
    }

    img.orien_mble, img.campus_mble, img.guest_mble    {
        display: block;
        width: 100%;
    }


    .info_grid_vrb h3 {
        font-size: 24px;
        margin: 8px 0;
    }

    .info_grid_vrb h4 {
        color: gray;
        margin: 8px 0;
        font-size: 19px;
    }

    .info_grid_vrb p {
        margin: 8px 0;
    }

    .guest_spcl {
        display: inline-flex;
    }
    

}





/* Start Learning */



#strt_lrn {
    background-color: lightgray;
    width: 100%;
}

.strt_lrn_bkgrnd {
    width: 100%;
    display: inline-block;
}

.strt_lrn_ttl {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 32px 0 16px 0;
    width: 100%;
}

.strt_lrn_ttl h1 {
    width: 100%;
}

.courses_grid {
    display: flex;
    padding: 16px 40px 32px 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sftwre_eng, .comp_art, .design, .data, .business, .marketing {
    background-color: white;
    width: 27%;
    margin: 32px;
}

.sftwre_eng img, .comp_art img, .design img, .data img, .business img, .marketing img   {
    height: auto;
    width: 100%;
}

.sftwre_eng h3, .comp_art h3, .design h3, .data h3, .business h3, .marketing h3 {
    padding: 16px;
    margin: 0;
    font-size: 32px;
    color: rgb(43, 42, 42);
}

.sftwre_eng p, .comp_art p, .design p, .data p, .business p, .marketing p {
    color: rgb(167, 165, 165);
    padding: 8px 48px 24px 16px;
    margin: 0;
    font-size: 24px;
}

@media only screen and (max-width:578px) {

    #strt_lrn {
        background-color: white;
        width: 100%;
    }

    .strt_lrn_bkgrnd {
        width: 100%;
    }
    
    .sftwre_eng img, .comp_art img, .design img, .data img, .business img, .marketing img   {
        display: none;
    }

    .courses_grid {
        display: block;
        padding: 8px 8px 32px 8px;
    }

    .strt_lrn_ttl {
        font-size: 28px;
        padding: 30px 0 8px;
        margin: 0;
    }

    .strt_lrn_ttl h1 {
        margin: 0;
        font-size: 42px;
    }

    .sftwre_eng, .comp_art, .design, .data, .business, .marketing {
        display: block;
        width: 95%;
        background-color: lightgrey;
        align-content: stretch;
        align-items: center;
        margin: 8px 16px;
        color: rgb(87, 86, 86);
    }
    
    .sftwre_eng h3, .comp_art h3, .design h3, .data h3, .business h3, .marketing h3{
        font-size: 24px;
    }    

    .sftwre_eng p, .comp_art p, .design p, .data p, .business p, .marketing p {
        display: none;
    }
}


/* Thesis Exhibit */




.xbit_bkgrnd {
    display: inline-block;
    width: 100%;
}

.xbit_ttl {
    text-align: center;
    width: 100%;
    display: block;
}

.xbit_content {
    display: flex;
}

.video {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 24px;
}

.video video {
    width: 100%;
}

.video h2 {
    margin-bottom: 0;
    padding-bottom: 8px;
}

.xbit_grid {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.fisma, .now_then  {
    display: flex;
    transition: background-color .75s linear 0.15s;
}

.fisma:hover, .now_then:hover {
    background-color: rgb(221, 219, 219);
}

.fisma_vrb, .now_then_vrb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(170, 169, 169);
    font-size: 22px;
}


.fisma img, .now_then img  {
    width: 35%;
    height: auto;
    padding: 16px;
}

.fisma h2, .now_then h2 {
    font-size: 38px;
    color: rgb(95, 93, 93);
}



@media only screen and (max-width:578px) {

    .xbit_ttl h1 {
        margin: 32px 0 16px 0;
    }

    .video {
        width: 100%;
        padding: 0 0 24px 0;

    }

    .video h2, .video p, .xbit_grid {
        display: none;
        padding: 16px 0;
    }

}




/* FOOTER */ 



footer {
    display: flex;
    width: 100%;
    color: gray;
    border-top: 1px solid grey;
    padding: 16px 24px;
}

.copyright {
    color: lightgrey;
    width: 50%;
}

.links, .links a {
    color: lightgrey;
    text-align: right;
    width: 50%;
    padding-right: 24px;
}

/*.links a {
    color:lightgrey;
}*/

@media only screen and (max-width:578px) {

    .copyright {
        width: 100%;
        color: black;
    }

    .links {
        display: none;
    }
}
